body{
	background-color: rgb(200,200,200);
	text-align: center;
}
#titre{
	position: relative;
	display: block;
	text-align: center;
	border: solid black 2px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 4px black;
	background-color: rgba(255,255,255,0.7);
} 
#entete{
	position: relative;
	display: block;
	background-color: rgb(200,200,200);
	margin-left:5em;
	margin-bottom: 2em;
	margin-top:5em;
	left:35em;
	width:40em;
}
#accueil{
	cursor: crosshair;
	font-size: 20px;
}
#bloc{
	position: relative;
	display: block;
	text-align: center;
}
#formulaire{
	position: relative;
	margin-top: 3em;
}
#table_champs{
	position:relative;
	display: inline-block;
	text-align:center;
}
#table_champs tr, #table_champs td{
	padding:0.5em;
}

